{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.min.css', 'jquery') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/metaedit.css', 'metaedit') }}" />
{% endblock %}

{% block postload %}
    <script src="{{ asset('js/jquery.min.js', 'jquery') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js', 'jquery') }}"></script>
{% endblock %}

{% block content %}
    <h1>Metadata Registry</h1>

    <p>Here you can register new SAML entities. You are successfully logged in as {{ userid|escape('html') }}</p>

    <h2>Your entries</h2>

    <table class="metalist" style="width: 100%">

    {% if metadata|length > 0 %}
        <tr><td colspan="3">No entries registered</td></tr>
    {% else %}
    {% for index, md in metadata.mine %}
        {% if loop.index0 is even %}
            {% set class = 'even' %}
        {% else %}
            {% set class = 'odd' %}
        {% endif %}
        <tr class="{{ class }}">
            <td>{{ metadata.name|escape('html') }}</td>
            <td><tt>{{ metadata.entityid|escape('html') }}</tt></td>
            <td><a href="/module.php/metaedit/edit?entityid={{ metadata.name|escape('url') }}">edit</a></td>
            <td><a href="/module.php/metaedit/?delete={{ metadata.name|escape('url') }}">delete</a></td>
        </tr>
    {% endfor %}
    {% endif %}

    </table>

    <p><a href="/module.php/metaedit/edit">Add new entity</a> | <a href="/module.php/metaedit/import">Add from SAML 2.0 XML metadata</a></p>

    <h2>Other entries</h2>
    <table class="metalist" style="width: 100%">

    {% if metadata|length > 0 %}
        <tr><td colspan="3">No entries registered</td></tr>
    {% else %}
    {% for index, md in metadata.others %}
        {% if loop.index0 is even %}
            {% set class = 'even' %}
        {% else %}
            {% set class = 'odd' %}
        {% endif %}
        <tr class="{{ class }}">
            <td>{{ metadata.name|escape('html') }}</td>
            <td><tt>{{ metadata.entityid|escape('html') }}</tt></td>
            <td>{% if md.owner is defined %}{{ md.owner|escape('html') }}{% else %}No owner{% endif %}</td>
        </tr>
    {% endfor %}
    {% endif %}

    </table>
{% endblock %}
